{% extends "Cashier/layout.html" %} {% block body %}
<!--================Mission Area =================-->
<section class="mission_area">
    <div class="row m0">
        <div class="col-lg-6">
            <div class="left_img"><img src="{{url_for('static', filename='img/mission-1.jpg')}}" alt=""></div>
        </div>
        <div class="col-lg">
            <div class="item justify-content-center" style="padding: 50px;">
                <div class="mission_text">
                    <h4>Road to Success</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt labore dolore magna aliqua enim minim veniam quis nostrud.</p>
                </div>
                <div class="mission_text">
                    <h4>About Our Mission</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt labore dolore magna aliqua enim minim veniam quis nostrud.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Mission Area =================-->

<!--================Success Area =================-->
<section class="success_area" style="margin-bottom: 100px;">
    <div class="row m0">
        <div class="col-lg-6">
            <div class="mission_text justify-content-center" style="padding: 50px;">
                <h4>Road to Success</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt labore dolore magna aliqua enim minim veniam quis nostrud.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="success_img">
                <img src="{{url_for('static', filename='img/success-1.jpg')}}" alt="">
            </div>
        </div>
    </div>
    <div class="row m0 right_dir">
        <div class="col-lg-6 p0">
            <div class="success_img">
                <img src="{{url_for('static', filename='img/success-2.jpg')}}" alt="">
            </div>
        </div>
        <div class="col-lg-6 p0">
            <div class="mission_text justify-content-center" style="padding: 50px;">
                <h4>Road to Success</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt labore dolore magna aliqua enim minim veniam quis nostrud.</p>
            </div>
        </div>
    </div>
</section>
<!--================End Success Area =================-->

{% endblock %}