{% extends "Cashier/layout.html" %}
{% block body %}

<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-option contact-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Withdraw Money</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<div class="container">
    <div class="contact__form"
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="contact__form__text">
                    <form action="/cashier/showwithdrawmoney" method="post">
                        <div class="input-list">
                            <!--SSN id-->
                           
                            <div class="form-group row justify-content-center">
                            <label class="col-lg-3 col-form-label" for="id">Customer ID:{{data[0].customer_cid}}</label>
                                <br>
                                <label class="col-lg-3 col-form-label" for="id">Account Id : {{data[0].accntid}}</label>
                                <br>
                                
                                <label class="col-lg-3 col-form-label" for="id">Account Type:{{data[0].accnt_type}}</label>
                                <br>
                                <label class="col-lg-3 col-form-label" for="id">Balance:{{data[0].ammount}}</label>
                                <br>
                                
                            </div>
                            <div class="form-group row justify-content-center">
                                <label class="col-lg-3 col-form-label" for="id">Withdraw Ammount:</label>
                                <div class="col-lg">
                                    <input class="form-control" name="withdrawamt" placeholder="Withdraw Ammount" type="number" required min="0" max="{{data[0].ammount}}">
                                </div>
                            <input id='accntid' name='accntid' type="hidden" value={{data[0].accntid}}>
                                
                            </div>

                            <!--Submit button-->
                            <div class="row justify-content-center">
                                <!--Submit button-->
                                    <button class="btn btn-success" name="submit" type="submit" value="Submit" style="margin-right: 5px;">Withdraw</button>
                                <!--Cancel button-->
                                    <!-- <a class="btn btn-danger" name="cancel" href="javascript:history.back()" style="margin-left: 5px;">Cancel</a> -->
                                    <a class="btn btn-danger" name="cancel" href="url_for('acc_info')" style="margin-left: 5px;">Cancel</a>
                                </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
    window.history.replaceState('','',window.location.href)
    });
 </script>

{% endblock %}