{% extends "Customer/layout.html" %}
{% block body %}

<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-option contact-breadcrumb" style="padding-bottom: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Customer Status</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<table class="table table-striped" border="1">
    <tr>
        <th>Customer ID</th>
        <th>SSN ID</th>
        <th>Status</th>        
        <th>Message</th>
        <th>Last Updated</th>
        <th>Operations</th>
        <th>View Profile</th>
    </tr>
   {% for status in data %}
    <tr>
        <td>{{status.customer_cid}}</td> 
        
        <td>{{status.customer_ssnid}}</td>  
        
        <td>{{status.status}}</td>    
        
        <td>{{status.message}}</td>    
       
        <td>{{status.updated_on}}</td>    
        
        <td>
        <a href="">Refresh</a>
        </td>  
        <form action="/customer/search" method="post">
        <input type="hidden" name="cid" value=""/>
        <input type="hidden" name="ssnid" value="{{status.customer_ssnid}}"/>
        <td><input type="submit" value="view details"></td>
        </form>
        </tr>
    {% endfor %}
</table>
<div style="text-align: center;">
    <a href="" class="btn btn-warning">Refresh the List</a>
    </div>
{% endblock %}