
{% extends "Customer/layout.html" %}
{% block body %}
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-option contact-breadcrumb" style="padding-bottom: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Show Account</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<table class="table table-striped" border="1">
    <tr>
        <td>Customer ID</td>
        <td>{{data[0].customer_cid}}</td>

    </tr>
    {% for account in data %}
    <tr>
        <td>Account Id</td>
        <td>{{account.accntid}}</td>
    </tr>
    <tr>
        <td>Account Type</td>
        <td>{{account.accnt_type}}</td>
    </tr>
    <tr>
        <td>Amount</td>
        <td>{{account.ammount}}</td>
    </tr>
{%endfor%}
</table>
{% endblock %}