{% extends "Customer/layout.html" %} {% block body %}

<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-option contact-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Update Customer</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<!--Create Customer Form-->

<!--<section class="contact spad">-->
<div class="container">
    <div class="contact__form">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="contact__form__text">
                    
                    <form action="{{url_for('update',id=data.ssnid)}}" method="post">
                        <div class="input-list">
                            
                            <div class="form-group row justify-content-center">
                                <label class="col-lg-3 col-form-label" for="id">Customer SSN ID</label>
                                <div class="col-lg" >
                                    <input type="text" style="background-color: gray;color: white;" value="{{data.ssnid}}" disabled>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <label class="col-lg-3 col-form-label" for="id">Customer ID</label>
                                <div class="col-lg">
                                    <input type="text" style="background-color: gray;color: white;" value="{{data.cid}}" disabled>
                                </div>
                            </div>


                            <div class="form-group row justify-content-center">
                                <label class="col-lg-3 col-form-label" for="id">Old Customer Name</label>
                                <div class="col-lg">
                                    <input type="text" style="background-color: gray;color: white;" value="{{data.name}}" disabled>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <label class="col-lg-3 col-form-label" for="id">New Customer Name</label>
                                <div class="col-lg">
                                    <input type="text" name="name" value="">
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <label class="col-lg-3 col-form-label" for="id">Old Age</label>
                                <div class="col-lg">
                                    <input type="text" style="background-color: gray;color: white;" value="{{data.age}}" disabled>
                                </div>
                            </div>


                            <div class="form-group row justify-content-center">
                                <label class="col-lg-3 col-form-label" for="age"> New Age</label>
                                <div class="col-lg">
                                    <input class="form-control" name="age"  required type="text" value="">
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <label class="col-lg-3 col-form-label" for="id">Old Address</label>
                                <div class="col-lg">
                                    <input type="text" style="background-color: gray;color: white;" value="{{data.address}}" disabled>
                                </div>
                            </div>

                            <div class="form-group row justify-content-center">
                                <label class="col-lg-3 col-form-label" for="address">New Address</label>
                                <div class="col-lg">
                                    <textarea class="form-control" cols="20px" name="address" 
                                        rows="2px" value="" type="text"></textarea>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row justify-content-center">
                            <button class="site-btn" name="submit" required type="submit" value="Submit">
                                Update
                            </button>
                           
                        </div>
                    </form>
                        
                </div>
            </div>
        </div>
    </div>
</div>
<!--</section>-->

<!-- End Create Customer Form-->

<!-- For State And City interdependent Dropdown -->


{% endblock %}