<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>createCust</title>
</head>

<body>
    <form action="crud/create" method="POST">
        <label for="ssnid">Customer SSN ID : </label>
        <input type="number" name="ssnid" id="ssnid" required><br>
        <label for="Custname">Customer name : </label>
        <input type="text" name="Custname" id="Custname" required><br>
        <label for="age">AGE : </label>
        <input type="number" name="age" id="age" required><br>
        <label for="address">Address : </label>
        <textarea name="address" rows="5" cols="10" required></textarea><br>
        <label for="state">State : </label>
        <select id="state" name="state" required>
            <option value="gujarat">Gujarat</option>
            <option value="maharashtra">Maharashtra</option>
            <option value="goa">Goa</option>
            <option value="tamilnadu">Tamilnadu</option>
        </select><br>
        <input type="submit" value="submit">
        <input type="reset" value="reset">
    </form>
    <a href="logout" target="_self">Logout</a>

</body>

</html>