<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>User Registration</title>
    <!--bootstrap css-->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet" />
    <!--external css-->
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css" />

    <!-- jquery   -->

    <!-- bootstrap js   -->
    <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- fontawesome icons   -->
    <link href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <!-- SHow Validation Errors  -->
            <div class="col-lg-6">
                {% for error in form.username.errors %}
                <div class="row justify-content-center alert alert-danger" style="margin-top: 10px;" role="alert">
                    Username : {{error}}
                </div>
                {% endfor %} {% for error in form.password.errors %}
                <div class="row justify-content-center alert alert-danger" style="margin-top: 10px;" role="alert">
                    Password : {{error}}
                </div>
                {% endfor %}

                <div class="row justify-content-center" style="margin-top: 10px;">
                    <!-- For showing Flash Messages from app.py -->
                    {% include "flashmes.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="register__form">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="contact__form__text">
                        {% from 'includes/_formhelpers.html' import render_field %}
                        <form action="{{url_for('register')}}" class="form-container" method="post">
                            <div class="row justify-content-center">
                                <label style="color: white; font-size: 30px;">Register</label>
                            </div>
                            {{form.csrf_token}}
                            <div class="form-group row justify-content-center">
                                <div class="form-group row justify-content-center">
                                    <label class="col-lg-3 col-form-label" id="textview"
                                        for="username">{{form.username.label}}</label>
                                    <div class="col-lg">
                                        {{form.username(size=20)}}
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center">
                                    <label class="col-lg-3 col-form-label" id="textview"
                                        for="password">{{form.password.label}}</label>
                                    <div class="col-lg">
                                        {{form.password(size=20)}}
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center">
                                    <label class="col-lg-3 col-form-label" id="textview"
                                        for="role">{{form.role.label}}</label>
                                    <div class="col-lg" id="role">
                                        {{form.role}}
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <button class="site-btn" name="submit" type="submit" style="margin-bottom: 5px;"
                                    value="Register">Register</button>
                            </div>
                            <div class="row justify-content-center" style="padding-top: 20px;">
                                <a href="{{url_for('login')}}">Already User? Please Log In </a>.
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>