<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
</head>

<body>
    <form action="/signup" method="POST">
        username : <input type="text" name="username" id="username"><br>
        password : <input type="password" name="pwd" id="pwd"><br>
        <label for="role">Choose your role:</label>
        <select id="role" name="role">
            <option value="customerexecutive">customer executive</option>
            <option value="cashier">cashier</option>
        </select><br>
        <input type="submit" value="submit">

    </form>
</body>

</html>