body{
     background-image: url('/static/images/reg-bg.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;

     }
/* form */
.form-container{
    background:transperent;
    padding:30px;
    border-radius:10px;
    box-shadow:1px 1px 10px 1px lightgray;
}

h2{
    text-align:center;
    margin-top:10%;
    font-size:50px;
    color:white;
}

.nav-item::after {
     content: '';
     display: block;
     width: 0px;
     height: 2px;
     background: #fec400;
     transition: 0.4s
 }

.nav-item:hover::after {
     width: 100%
 }

.nav-link {

     transition: 0.2s
 }

h3{
color:lightgray;
text-align:center;
}

ul li{
color:white;
text-align:center;
}

/* card */
.card{
text-align:center;
display:inblock;

}
.card-body{
text-align:center;

}

h4{
color:red;
}

.card-category
{
color:darkgreen;
background-color:yellow;
display:inline-block;
}

.card-title{
color:blue;
}

i.fa{
color:white;
}

i.fas{
color:white;
}